/* line 72, icons/service/*.png */
.service-sprite, .responsive, .tv, .print, .love {
  background-image: url('../img/icons/service-sc4ba7a3362.png');
  background-repeat: no-repeat;
}

/* line 5, ../sass/modules/_icon.scss */
.responsive {
  display: inline-block;
  width: 54px;
  height: 50px;
  background-position: 0 -101px;
}

/* line 11, ../sass/modules/_icon.scss */
.tv {
  display: inline-block;
  width: 54px;
  height: 48px;
  background-position: 0 -151px;
}

/* line 17, ../sass/modules/_icon.scss */
.print {
  display: inline-block;
  width: 54px;
  height: 54px;
  background-position: 0 -47px;
}

/* line 23, ../sass/modules/_icon.scss */
.love {
  display: inline-block;
  width: 51px;
  height: 47px;
  background-position: 0 0;
}

/* line 80, icons/social/*.png */
.social-sprite, .social-media .rss, .social-media .facebook, .social-media .twitter, .social-media .dribbble, .social-media .pinterest {
  background-image: url('../img/icons/social-s7ea113962f.png');
  background-repeat: no-repeat;
}

/* line 36, ../sass/modules/_icon.scss */
.social-media .rss {
  background-position: 0 -90px;
}
/* line 37, ../sass/modules/_icon.scss */
.social-media .facebook {
  background-position: 0 -30px;
}
/* line 38, ../sass/modules/_icon.scss */
.social-media .twitter {
  background-position: 0 -120px;
}
/* line 39, ../sass/modules/_icon.scss */
.social-media .dribbble {
  background-position: 0 0;
}
/* line 40, ../sass/modules/_icon.scss */
.social-media .pinterest {
  background-position: 0 -60px;
}

/* line 44, ../sass/modules/_icon.scss */
.social-media {
  margin-bottom: 0;
}
/* line 46, ../sass/modules/_icon.scss */
.social-media li a {
  display: block;
}
/* line 48, ../sass/modules/_icon.scss */
.social-media li a span {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: top;
}

/* line 3, ../sass/theme/_theme.scss */
.t-header {
  background-color: #fff;
  border-color: transparent;
}

/* line 7, ../sass/theme/_theme.scss */
.t-intro {
  background-color: #f1f4f5;
}

/* line 10, ../sass/theme/_theme.scss */
.t-circle {
  width: 110px;
  height: 110px;
  padding-top: 30px;
  display: inline-block;
  text-align: center;
  background-color: #f1f4f5;
  border-radius: 55px;
}

/* line 20, ../sass/theme/_theme.scss */
.t-footer {
  padding: 66px 0;
  color: #bdbdbd;
  background-color: #2d2d30;
}
