/* line 1, ../sass/base/_base.scss */
body {
  color: #808080;
}

/* line 5, ../sass/base/_base.scss */
h1, h2, h3, h4 {
  color: #4d4d4d;
  text-transform: uppercase;
}

/* line 1, ../sass/base/_headings.scss */
.section-header {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 21px;
  text-transform: uppercase;
}
/* line 6, ../sass/base/_headings.scss */
.section-header:after {
  color: #ef5f60;
  content: ' --';
}

/* line 1, ../sass/layout/_header.scss */
.navbar {
  margin-bottom: 0;
}
/* line 3, ../sass/layout/_header.scss */
.navbar-brand {
  height: 44px;
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  /* line 10, ../sass/layout/_header.scss */
  .navbar-nav {
    float: right;
  }

  /* line 13, ../sass/layout/_header.scss */
  .navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media (min-width: 768px) {
  /* line 19, ../sass/layout/_header.scss */
  .t-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  /* line 19, ../sass/layout/_header.scss */
  .t-header {
    padding-top: 75px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
  /* line 31, ../sass/layout/_header.scss */
  .navbar-header {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 35, ../sass/layout/_header.scss */
  .navbar-brand {
    margin-top: 3px;
  }
}
/* line 72, icons/service/*.png */
.service-sprite, .responsive, .tv, .print, .love {
  background-image: url('../img/icons/service-sc4ba7a3362.png');
  background-repeat: no-repeat;
}

/* line 7, ../sass/modules/_icon.scss */
.responsive {
  display: inline-block;
  width: 54px;
  height: 50px;
  background-position: 0 -101px;
}

/* line 13, ../sass/modules/_icon.scss */
.tv {
  display: inline-block;
  width: 54px;
  height: 48px;
  background-position: 0 -151px;
}

/* line 19, ../sass/modules/_icon.scss */
.print {
  display: inline-block;
  width: 54px;
  height: 54px;
  background-position: 0 -47px;
}

/* line 25, ../sass/modules/_icon.scss */
.love {
  display: inline-block;
  width: 51px;
  height: 47px;
  background-position: 0 0;
}

/* line 80, icons/social/*.png */
.social-sprite, .social-media .rss, .social-media .facebook, .social-media .twitter, .social-media .dribbble, .social-media .pinterest {
  background-image: url('../img/icons/social-s7ea113962f.png');
  background-repeat: no-repeat;
}

/* line 38, ../sass/modules/_icon.scss */
.social-media .rss {
  background-position: 0 -90px;
}
/* line 39, ../sass/modules/_icon.scss */
.social-media .facebook {
  background-position: 0 -30px;
}
/* line 40, ../sass/modules/_icon.scss */
.social-media .twitter {
  background-position: 0 -120px;
}
/* line 41, ../sass/modules/_icon.scss */
.social-media .dribbble {
  background-position: 0 0;
}
/* line 42, ../sass/modules/_icon.scss */
.social-media .pinterest {
  background-position: 0 -60px;
}

/* line 46, ../sass/modules/_icon.scss */
.social-media {
  margin-bottom: 0;
}
/* line 48, ../sass/modules/_icon.scss */
.social-media li a {
  display: block;
}
/* line 50, ../sass/modules/_icon.scss */
.social-media li a span {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: top;
}

/* line 1, ../sass/modules/_thumbnail.scss */
.thumbnail {
  padding: 0;
  margin-bottom: 30px;
  border: none;
  border-radius: 0;
}
/* line 6, ../sass/modules/_thumbnail.scss */
.thumbnail img {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  opacity: .85;
}
/* line 11, ../sass/modules/_thumbnail.scss */
.thumbnail:hover img {
  opacity: 1;
}

/* line 1, ../sass/modules/_media.scss */
.media {
  margin-bottom: 60px;
}
/* line 3, ../sass/modules/_media.scss */
.media-left {
  padding-right: 20px;
}

/* line 3, ../sass/theme/_theme.scss */
.t-header {
  background-color: #fff;
  border-color: transparent;
}

/* line 7, ../sass/theme/_theme.scss */
.t-intro {
  margin-bottom: 70px;
  padding: 68px 0;
  background-color: #f1f4f5;
}

/* line 12, ../sass/theme/_theme.scss */
.t-circle {
  width: 110px;
  height: 110px;
  padding-top: 30px;
  display: inline-block;
  text-align: center;
  background-color: #f1f4f5;
  border-radius: 55px;
}

/* line 22, ../sass/theme/_theme.scss */
.t-footer {
  padding: 66px 0;
  color: #bdbdbd;
  background-color: #2d2d30;
}

/* line 27, ../sass/theme/_theme.scss */
.mt1 {
  margin-top: 20px;
}

/* line 30, ../sass/theme/_theme.scss */
.mb1 {
  margin-bottom: 20px;
}

/* line 33, ../sass/theme/_theme.scss */
.pb1 {
  padding-bottom: 20px;
}
